!!!
%html{ 'ng-app' => 'gemfileio' }
  %head
    %title Gemfile.io
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{ :href => 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', :rel => 'stylesheet' }/
    %link{ :href => 'http:///gemfile.io/opensearch.xml', :rel => 'search', :title => 'Gemfileio', :type => 'application/opensearchdescription+xml' }/
    %base{ :href => '/' }
  %body{ 'ng-controller' => 'applicationController' }
    %nav{ 'ng-include' => "'#{ asset_path('templates/shared/_nav.html') }'" }
    %header{ 'ng-include' => "'#{ asset_path('templates/shared/_header.html') }'" }
    %main
      .container
        .row
          .col-2
            %aside{ 'ng-include' => "'#{ asset_path('templates/shared/_aside.html') }'", 'ng-controller' => 'categoriesController' }
          .col-10
            %content{ 'ng-view' => '' }
    .notifications{ 'ng-include' => "'#{ asset_path('templates/shared/_notifications.html') }'", 'ng-show' => 'notifications.list.length > 0' }
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71709802-1', 'auto');
      ga('send', 'pageview');
